.library-home-item{
    text-align: center;
    background-color: rgba(240, 248, 255, 0.126);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.library-home-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-bar-container input{
    outline: none;
    width: 99%;
    padding: 10px;
    border-radius: 12px;
    border: 0px solid #ccc;
    background-color: rgba(240, 248, 255, 0.126);
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
}

.search-bar-container input:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.category-home-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.category-home-buttons button {
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    background-color: rgba(240, 248, 255, 0.126);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-home-buttons button:hover{
    background-color: #4f4d86;
    color: #fff;
}

.category-home-buttons button.active {
    background-color: #645cff;
    color: #fff;
    /* font-weight: bold; */
}

/* Skeleton loading styles */
.skeleton {
    background-color: rgba(240, 248, 255, 0.126);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 250px;
}

.skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    animation: shimmer 1.5s infinite;
    background-size: 200% 100%;
}

.skeleton-image {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 10px;
}

.skeleton-text {
    width: 60%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px auto;
    border-radius: 4px;
}

.skeleton-button {
    width: 80px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.skeleton-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    animation: shimmer 1.5s infinite;
    background-size: 200% 100%;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
.library-home-image{
    transform: scale(1.00);
    transition: all 0.3s ease;

}
.library-home-image:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}