.shadow-controls {
    margin-top: 15px;
  }
  
  .shadow-controls h5 {
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .control-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
      justify-content: space-between;
  }
  
  .control-row label {
     text-align: left;
         flex: 0 1 auto;
        margin-right: 10px;
  }
  
  .option-buttons{
    display: flex;
     gap: 5px;
     justify-content: flex-end;
       flex: 1;
}
.option-buttons button {
    width: 50px;
    background-color: #333;
    border: 1px solid #555;
    color: #eee;
    padding: 5px 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.option-buttons button:hover{
    background-color: #444;
}

.option-buttons button.selected{
     background-color: #6a6b6d;
}