.hierarchy-panel {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px; /* Add margin */
  width: 200px;
  background-color: #16161acc; /* Semi-transparent dark background */
  color: #eee; /* Light text color */
  border-radius: 10px; /* Rounded corners */
  z-index: 10;
  height: calc(100% - 79px); /* Adjust height to account for margin and toolbar */
  padding: 20px; /* Adjust padding */
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

.hierarchy-panel h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.search-input {
  outline: none;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(68, 68, 68, 0.667);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.search-input::placeholder {
  color: rgb(148, 148, 148);
}

.search-input:focus {
  background-color: rgb(54, 54, 54);
}

.search-bar-container {
  margin-left: -6px;
  margin-top: 5px;
  position: relative;
  max-width: 400px;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.objects-list {
  justify-content: center;
  width: 105%;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Allow the object list to expand and take available space */
  overflow-y: auto; /* Make the object list scrollable */
}

.hierarchy-panel hr{
  border: none;
  border-top: 2px solid rgb(255, 255, 255); /* Subtle divider line */
  margin: 5px 0; /* Add spacing around the line */
  width: 100%;
}

.objects-list hr {
  border: none;
  border-top: 1px solid rgba(68, 68, 68, 0.5); /* Subtle divider line */
  margin: 5px 0; /* Add spacing around the line */
}

/* Initially hide the scrollbar thumb */
.objects-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent; /* Make thumb invisible */
}

/* On hover, make the thumb visible */
.objects-list:hover::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.8); /* Visible thumb with matching theme */
  transition: background-color 0.2s; /* Smooth transition */
}

/* Scrollbar track styling remains transparent */
.objects-list::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar width */
.objects-list::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar width */
}

.objects-list li {
  cursor: pointer;
  padding: 8px 10px; /* Increase padding */
  border: none;
  display: flex; /* Use flexbox to align icon and text */
}

.objects-list li.selected {
  background-color: rgba(90, 90, 90, 0.8);
  border-radius: 5px;
  border: none;
}

.objects-list li:hover {
  border-radius: 5px;
  background-color: rgb(45, 45, 45);
}

.panel-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  background-color: transparent; /* Semi-transparent dark background */
  position: sticky; /* Fix the buttons at the bottom */
  bottom: 0;
  left: 0;
  width: 100%;
}

.panel-buttons button {
  background-color: transparent; /* Match the theme */
  border: none;
  color: rgb(133, 133, 133);
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s;
}

.panel-buttons button:hover {
  color: rgb(214, 214, 214);
}

.no-objects {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.import-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  z-index: 1000;
}

.import-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

.modal-buttons {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

.modal-buttons:hover {
  background: #0056b3;
}
