/* src/styles/propertiesPanel.css */
.properties-panel {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px ; /* Add margin */
    width: 200px;
    background-color:#16161acc; /* Semi-transparent dark background */
    color: #eee; /* Light text color */
    border: 1px solid rgba(68, 68, 68, 0.5); /* Subtle semi-transparent border */
    border-radius: 20px; /* Rounded corners */
    overflow-y: auto;
    z-index: 10;
    height: calc(100% - 125px); /* Adjust height to account for margin and toolbar */
    padding: 20px; /* Adjust padding */
    border-bottom-right-radius: 10px; /* Match border-radius */
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
  
  .properties-panel h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .properties-panel input[type="number"] {
    width: 50px;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid #666;
    background-color: #333;
    color: #eee;
    border-radius: 3px;
  }