/* General */
body {
    margin: 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #ffffff;
    background-color: #1a192d;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #1a192d;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #1a192d;
    border-radius: 10px;
    border: 3px solid #1a192d;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #1a192d;
}

body::-webkit-scrollbar-corner {
    background-color: #1a192d;
}

.home-container {
    display: flex;
}

.top-bar{
    color: #e5e9e5;
}
/* Sidebar */
.sidebar-home {
    height: 100vh; /* Keep this to cover the full content height */
    width: 220px;
    background-color: #00000028;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    position: sticky; /* Makes the sidebar sticky */
    top: 0; /* Sticks it to the top of the viewport */
}

.profile-section {
    margin: 20px;
    display: flex;
    align-items: center;
}

.profile-icon {
    width: 43px;
    height: 43px;
    background-color: #1a1928;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    color: #fff;
}

.menu {
    margin:0px 20px ;
    flex-grow: 1;
}

.menu-item {
    color: #aaa;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    margin: 5px 0;
    font-weight: bold;
}

.menu-item.active,
.menu-item:hover {
    color: #fff;
}

/* Upgrade Section */
.upgrade-section {
    margin: 10px;
}

.upgrade-button {
    background-color:#6866b1;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
}

.upgrade-button:focus{
    outline: none;
}

/* Main Content */
.main-content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px;
}

.import-button,
.generate-button,
.new-file-button {
    font-family: inherit;

    border-radius: 10px;
    border: none;
    background-color: #6866b1;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none; /* Removes the outline */
}

.import-button:hover,
.generate-button:hover,
.new-file-button:hover,
.upgrade-button:hover {
    background-color: #4f4d86;
}

.import-button:active,
.generate-button:active,
.new-file-button:active {
    outline: none;
}

.import-button:focus,
.generate-button:focus,
.new-file-button:focus {
    outline: none;
}

/* Optional: Add display: flex to the container holding these buttons */
.button-container {
    display: flex;
    gap: 20px; /* Space between buttons */
}

/* Projects Section */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    min-height: 280px; /* Add a minimum height */

}

.project-card {
    width: 280px;
    background-color: #33333346;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    height: 280px;
    transition: ease-in-out 0.3s;
    display: flex;          /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
}
.project-card:hover {
    transition: ease-in-out 0.3s;
    background-color: #333333c8;

}
.project-thumbnail {
    overflow: hidden;
    /* height: 200px; */
    background-color: #444;
    border-radius: 10px;
    margin-bottom: 10px;
    flex-grow: 1;      /* Allow thumbnail to grow */
    display: flex;    /* Make thumbnail a flex container */
    align-items: center; /* Center vertically */
    justify-content: center; /*Center horizontally*/

}

.project-thumbnail img {
    /* height: 200px; Removed fixed height*/
    height: 100%;
    border-radius: 5px;
    object-fit: cover; /* Important for consistent sizing */
    transition: ease-in-out 0.3s;

}

.project-thumbnail img:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
    max-width: 100%;
    border-radius: 5px;
}

.project-thumbnail.pink {
    background-color: #726f75;

}

.project-title {
     /* Removed fixed positioning */
    margin-top: 0px;
    margin-left: 3px;
    align-self: flex-start;
    color: #eeeeee;
    font-weight: bold;
}

.project-date {
    align-self: flex-start;
    color: #aaa;
    font-size: 14px;
}

/* Tutorials Section */
.tutorials-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    min-height: 280px; /* Add minimum height */
}

.tutorial-card {
    width: 280px;
    overflow: hidden;
    background-color: #33333346;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    height: 280px;
    transition: ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
}
.tutorial-card:hover {
    transition: ease-in-out 0.3s;
    background-color: #333333c8;
}

.tutorial-card img {
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
    max-width: 100%;
    max-height: 100%; /* Ensure image fits*/
    border-radius: 5px;
    object-fit: cover; /* Important for consistent sizing */
    height: 200px;
}
.tutorial-card .project-thumbnail{
    flex-grow: 1;      /* Allow thumbnail to grow */
    display: flex;    /* Make thumbnail a flex container */
    align-items: center; /* Center vertically */
    justify-content: center; /*Center horizontally*/
}
.tutorial-card img:hover {
    transform: scale(1.1);
    transition: ease-in-out 1;
    max-width: 100%;
    border-radius: 5px;
}

.tutorial-card p {
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
}

/* Features Section */
.features {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    color: #aaa;
    opacity: 0.6;
    gap: 10px;
    margin-right: 20px;
    margin-top: 80px;
}

.features li {
    align-items: center;
    justify-content: center;
    padding: 9px 9px;
    border-radius: 12px;
}

.features li:hover {
    background-color: #1a192d;
    color: rgb(136, 224, 121);
}

  /* New File Card */
.project-card.new-file {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #c5c5f5;
    background-color: #1a192d;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .project-card.new-file:hover {
    background-color: #3a3a5b;
    border-color: #ffffff;
  }

  .skeleton-loading {
    background:  linear-gradient(90deg,
      hsla(199, 20%, 70%, 0.155) 25%,
      hsl(203, 100%, 87%) 50%,
      hsla(199, 20%, 70%, 0.155) 75%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 2s infinite linear;
  }

  @keyframes skeleton-loading {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  #home-hr-tag{
        border: none;
        height: 1px;
        background-color: #525252;
  }
  .lastupdated{
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: flex-start;
    font-size: 10px;
    color: #aaaaaa;
    margin-left: 3px;
    margin-top: -17px;
    align-self: flex-start;
  }

  .delete-modal {
    position: fixed;

    width: 100%;
    height: 100%;
    background-color: #23232376 ;

 backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of everything */
  }
  
  .delete-modal-content {
    backdrop-filter: blur(0px);
    background-color: #2a293d;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    z-index: 10000;
  }
  
  .delete-modal h2 {
    margin-bottom: 10px;
    color: #fff;
  }
  
  .delete-modal p {
    margin-bottom: 20px;
    color: #ddd;
  }
  
  .delete-modal-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .delete-confirm-button,
  .delete-cancel-button {
    width: 40%;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .delete-confirm-button {
    background-color: #e74c3c; /* Red */
    color: #fff;
  }
  
  .delete-confirm-button:hover {
    background-color: #c0392b;
  }
  
  .delete-cancel-button {
    background-color: #3498db; /* Blue */
    color: #fff;
  }
  
  .delete-cancel-button:hover {
    background-color: #2980b9;
  }